.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--gutter) * 4);

  .col {
    flex: 1;
    text-align: left;
  }
}

.video {
  width: 100%;
}

.assets {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gutter) * 4);

  .asset {
    border-radius: calc(var(--border-radius) / 2);
    overflow: hidden;
  }

  .row {
    gap: calc(var(--gutter));
  }
}