.wrapper {
  position: relative;
  .videoWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--border-radius);

    &.cinema {
      aspect-ratio: 2.39 / 1; 
    }
    &.widescreen {
      aspect-ratio: 16 / 9;
    }
    &.standard {
      aspect-ratio: 4 / 3;
    }
    &.photo {
      aspect-ratio: 6 / 4;
    }
    &.square {
      aspect-ratio: 1 / 1;
    }

    .video {
      cursor: auto;
      width: 100%;
      height: 100%;
      border-radius: 0px;
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
      position: relative;
    }
  }
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 0;
    justify-content: flex-end;
    padding: calc(var(--gutter));
    z-index: 1000;
  }

  .buttonGroup {
    display: flex;
    gap: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1px;
    overflow: hidden;
    border-radius: calc(var(--border-radius) / 2);
    
  }

  .button {
    border: none;
    background-color: rgba(var(--background-rgba), 1);
    color: rgba(var(--foreground-rgba), 1);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    
    .icon {
      display: flex;
      justify-content: center;
      align-self: center;
    }
  
    &:hover {
      cursor: pointer;
      color: rgba(var(--foreground-rgba), 0.5);
    }
  }
}
