$header-height: 80px;

.wrapper {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    text-align: center;
    z-index: 1000;
    background-color: var(--background);
  }

  .main {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--gutter) * 4);
    margin-top: $header-height;
  }
}