.filters {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter {
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-nav);
  font-weight: var(--font-weight-nav);
  color: var(--text-color);
  opacity: 0.5;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &.active {
    color: var(--foreground);
    opacity: 1;
  }
}

.count {
  color: var(--text-color);
  font-size: 70%;
}

