$font-size: 16px;
$font-weight: 300;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: calc(var(--gutter) * 4);
  padding: 0 calc(var(--gutter) * 4);
  font-size: $font-size;
  font-weight: $font-weight;

  .left,
  .right {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
  }
}

.position,
.navMenu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  padding: 0;
  position: relative;
}

.navMenu {
  flex: 2;
  justify-content: space-between;
}

.theme,
.logo,
.navItem {
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--foreground);
}

.nav {
  display: flex;
  gap: calc(var(--gutter) * 1);
  justify-content: center;
}