
.navMenu {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 0;
  position: relative;
}

.theme,
.logo,
.navItem,
.divider,
.clock {
  font-size: var(--font-size-nav);
  line-height: var(--font-size-nav);
  font-weight: var(--font-weight-nav);
  letter-spacing: var(--font-spacing-nav);
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--foreground);
}

.navItem {
  color: var(--nav-color);
  cursor: pointer;

  &.active,
  &:hover {
    color: var(--nav-active-color);
  }
}

.divider,
.clock {
  color: var(--nav-color);
  cursor: default;
}

.theme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.nav {
  display: flex;
  gap: calc(var(--gutter) * 1);
  justify-content: center;
}